{% extends "base.html" %}
{% block title %}{{ user_name }}'s Favorite Movies{% endblock %}
{% block content %}
<h2>{{ user_name }}'s Favorite Movies</h2>

<ul>
    {% for movie in movies %}
    <li>
        {{ movie.name }} ({{ movie.year }}) - Directed by {{ movie.director }}
        <a href="/users/{{ user_id }}/update_movie/{{ movie.id }}">Edit</a> |
        <a href="/users/{{ user_id }}/delete_movie/{{ movie.id }}">Delete</a>
    </li>
    {% endfor %}
</ul>

<a href="/users/{{ user_id }}/add_movie"><button>Add New Movie</button></a>
{% endblock %}
